#mistral-card {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    min-height: calc(100vh - 188px);
    max-height: calc(100vh - 188px);
}


#mistral-messages-list {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 50px;
    list-style: none;
    min-height: 445px;
}

#mistral-messages-list li {
    display: flex;
    gap: .5rem;

    margin-top: 25px;
}


.message-avatar {
    display: block;
    min-width: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #eff0f1;
}

.message-body {
    flex-grow: 1;
}


.message-author {
    font-weight: 700;
    display: block;
    margin-bottom: .25rem;
}


.mistral-form-wrapper {
    margin-top: 75px;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    padding: 1rem;
    background-color: #eff0f1;
}

.mistral-form-group {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.mistral-form-group .mistral-input {

}

.mistral-form-group .mistral-submit {

}