<div class="ai-chat-form-wrapper">
    <form action="?" method="POST" id="ai-chat-form">

        <div class="ai-chat-form-group">
            <input type="text" name="mistral-prompt" id="ai-chat-prompt"
                   autofocus placeholder="Ask Mistral AI..." aria-label="Mistral AI Prompt" required minlength="1">
            <button type="submit" class="btn" id="ai-chat-submit-button">Submit</button>
        </div>

    </form>
</div>